certifi==2025.1.31
charset-normalizer==3.4.1
html2text==2024.2.26
httplib2==0.22.0
idna==3.10
Markdown==3.7
oauth2==1.9.0.post1
oauthlib>=1.0.3
pip==25.0
Pygments==2.19.1
pyparsing==3.2.1
requests==2.32.3
requests-oauthlib>=0.5.0
setuptools==75.8.0
urllib3==2.3.0
wheel==0.45.1
